/**
 * Created by val on 9/24/16.
 */

/* General Styles */
body {
  background-color: #64a9f1;
  font-family: Verdana, Arial, serif;
  font-size: 12px;
  margin: 0 0 0 0;
  text-align: center;
}

a {
  color: #1d439b;
  text-decoration: none;
}

/* inject:css */
@import '/assets/css/cover.css';
@import '/assets/css/header.css';
@import '/assets/css/main.css';
@import '/assets/css/modal.css';
@import '/assets/css/sidemenu.css';
@import '/assets/css/statusmenu.css';
/* endinject */
