<div class="list-container">
  <div class="list">
    <table>
      <tr class="table-header">
        <th>#</th>
        <th>Image</th>
        <th ng-click="sortBy('title')">Title</th>
        <th ng-click="sortBy('author')">Author</th>
        <th>Genres</th>
        <th ng-click="sortBy('comment')">Comment</th>
        <th ng-click="sortBy('year')">Year</th>
        <th ng-click="sortBy('progress')">Progress</th>
        <th></th>
      </tr>
      <tr ng-repeat="book in $ctrl.books | filter: {status: selectedStatus}">
        <td class="index">{{$index + 1}}</td>
        <td></td>
        <td class="title">{{book.title}}</td>
        <td>
          <a href="/api/authors/{{book.author.id}}">{{book.author.name}}</a>
        </td>
        <td></td>
        <td>{{book.comment}}</td>
        <td>{{book.year}}</td>
        <td>{{book.currentPage}} / {{book.totalPages}}</td>
        <td>
          <div class="edit-more-delete">
            <span class="edit">
              <a class="inList" href="#">Edit</a>
            </span>
            <span class="more">
              <a class="inList" href="#">More</a>
            </span>
            <span class="delete">
              <a class="inList" href="#" ng-click="deleteBook(book)">Delete</a>
            </span>
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>
