/**
 * Created by val on 9/24/16.
 */

body {
  font-family: Verdana, Arial, serif;
  font-size: 12px;
  margin: 0 0 0 0;
  text-align: center;
}

/* inject:css */
@import 'app.css';
@import 'main/main.css';
@import '../assets/styles/hover.css';
/* end inject */
