/**
 * Created by val on 9/24/16.
 */

/* General Styles */
body {
  background-color: #64a9f1;
  font-family: Verdana, Arial, serif;
  font-size: 12px;
  margin: 0 0 0 0;
  text-align: center;
}

a {
  color: #1d439b;
  text-decoration: none;
}

/* inject:css */
@import 'main/main.css';
@import '../components/cover/cover.css';
@import '../components/header/header.css';
@import '../components/modal/modal.css';
@import '../components/sidemenu/sidemenu.css';
@import '../components/statusmenu/statusmenu.css';
/* end inject */
