/**
 * Created by val on 9/25/16.
 */

/* Header */
.header {
  background-color: #4F5D73;
  color: #fff;
  height: 80px;
  position: relative;
}

.header .header-menu .btn-menu {
  display: block;
  font-size: 16px;
  text-align: center;
}

.header .username {
  font-weight: bold;
}

.header .header-title {
  background-size: auto 36px;
  background: url('../../assets/images/logo_head.png') no-repeat;
  display: block;
  height: 36px;
  top: 21px;
  width: 240px;
}

/* Cover */
.cover {
  align-items: center;
  background-color: #4393b9;
  border: 8px solid white;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: 120%;
  font-weight: 600;
  justify-content: center;
  margin: 0 5% 0 5%;
}

/* List settings */
.list {
  border: 8px solid white;
  display: flex;
  margin: 0 5% 0 5%;
  overflow-x: auto;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table, th, td {
  border: 1px solid black;
}

th, td {
  /*padding: 5px;*/
}
