/**
 * Created by val on 9/25/16.
 */

/* List settings */
.list {
  border: 8px solid white;
  display: flex;
  margin: 0 10% 0 10%;
  overflow-x: auto;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table, th, td {
  border: 1px solid black;
}

tr.table-header {
  font-size: 11px;
}

th, td {
  /*padding: 5px;*/
}

td {
  color: #1d439b;
}

td.index {
  color: black;
}

td.title {
  font-size: 1.1em;
  font-weight: bold;
}

tr:nth-child(even) {
  background: #ededed;
}
