/**
 * Created by val on 9/25/16.
 */

.header {
  position: relative;
  color: #fff;
  background-color: #4393b9; /*test*/
  display: block;
  width: 1060px;
  height: 70px;
  margin: 0 auto;
}

.header .header-menu .btn-menu {
  display: block;
  text-align: right;
  font-size: 16px;
}

.header .username {
  font-weight: bold;
}

.header .header-title {
  position: absolute;
  top: 21px;
  background-image: url('../../assets/images/logo_head.png');
  background-position: left top;
  background-repeat: no-repeat;
  background-size: auto 36px;
  display: block;
  width: 240px;
  height: 36px;
  text-indent: -9999px;
  overflow: hidden;
}
