<div class="header">
  <div class="header-menu">
    <div class="btn-menu">
      Viewing <span class="username">Your</span> Book List
    </div>
  </div>
  <a href="/" class="header-title">MyBookList</a>
</div>
<div class="cover">
  <h1>MyBookList</h1>
  <img src="../../assets/images/booklet.png">
  <p class="lead">HOW MUCH BOOKS HAVE YOU READ?</p>
</div>
<div class="status-menu">
  <div class="status all-books" ng-class="{'active':selectedStatus === undefined}" ng-click="allBooks()">All Books</div>
  <div class="status reading" ng-class="{'active':selectedStatus === 1}" ng-click="reading()">Currently Reading</div>
  <div class="status completed" ng-class="{'active':selectedStatus === 2}" ng-click="completed()">Completed</div>
  <div class="status on-hold" ng-class="{'active':selectedStatus === 3}" ng-click="onHold()">On Hold</div>
  <div class="status dropped" ng-class="{'active':selectedStatus === 4}" ng-click="dropped()">Dropped</div>
  <div class="status plan-to-watch" ng-class="{'active':selectedStatus === 5}" ng-click="planToWatch()">Plan to Read</div>
</div>

<div class="list">
  <table>
    <tr class="table-header">
      <th>#</th>
      <th>Image</th>
      <th>Title</th>
      <th>Author</th>
      <th>Genres</th>
      <th>Comment</th>
      <th>Created</th>
      <th>Progress</th>
      <th></th>
    </tr>
    <tr ng-repeat="book in $ctrl.books | filter: {status: selectedStatus}">
      <td class="index">{{$index + 1}}</td>
      <td></td>
      <td class="title">{{book.title}}</td>
      <td>{{book.author}}</td>
      <td></td>
      <td>{{book.comment}}</td>
      <td>{{book.created}}</td>
      <td>{{book.currentPage}} / {{book.totalPages}}</td>
      <td>
        <div class="edit-more-delete">
          <span class="edit">
            <a class="inList" href="#">Edit</a>
          </span>
          <span class="more">
            <a class="inList" href="#">More</a>
          </span>
          <span class="delete">
            <a class="inList" href="#">Delete</a>
          </span>
        </div>
      </td>
    </tr>
  </table>
</div>
