/**
 * Created by val on 10/18/16.
 */

/* Status menu */
.status-menu {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 10% 0 10%;
  padding: 10px 0 10px 0;
  vertical-align: middle;
}

.status {
  border-radius: 20px;
  color: whitesmoke;
  cursor: pointer;
  font-size: large;
  padding: 10px;
}

.active {
  background-color: #187CE5;
  color: white;
  font-weight: bold;
}
